@{
    ViewData["Title"] = "Home Page";
}

<h1>Student</h1>
<div class="row">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Fullname</th>
                <th>Sex</th>
                <th>DOB</th>
                <th>Class Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tbStudent">

        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/home/home.js"></script>
}
