
@{
    ViewData["Title"] = "View";
}
<h1>Index</h1>

<p>
    <a class="btn btn-dark" style="color:white" onclick="user.showModal()">Add User</a>
</p>
<table class="table table-hover table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                <label>User Name</label>
            </th>
            <th>
                <label>DOB</label>
            </th>
            <th>
                <label>User Mobile</label>
            </th>
            <th>
                <label>User Email</label>
            </th>
            <th>
                <label>Country Name</label>
            </th>
            <th>
                <label>Job Name</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbUsers">
    </tbody>
</table>
<!-- The Modal -->
<div class="modal" id="addEditModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>User Name</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="UserName" name="UserName" required data-msg-required="This field is required" min-length="10" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>DOB</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="DOB" name="DOB" type="date" required data-msg-required="This field is required" min-length="10" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>User Mobile</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="UserMobile" name="UserMobile" type="tel" required data-msg-required="This field is required" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>User Email</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="UserEmail" name="UserEmail" type="email" required data-msg-required="This field is required" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Country</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="Country" name="CountryId" required data-msg-required="This field is required">
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Job</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="Job" name="JobId" required data-msg-required="This field is required">
                        </select>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="javascript:void(0);" class="btn btn-success" onclick="user.save()" >Save</a>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/user/user.js"></script>

